@import "abstracts/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  min-width: 100%;
  margin: auto;
  background: $primary !important;
  overflow: hidden;
}

h1,
h3,
h4,
h6 {
  color: $white;
}

h2,
h5 {
  color: $black;
}