@import "../abstracts/variables";


h1 {
  position: relative;
  text-align: center;
  font-size: 50rem;

  span {
    position: absolute;
    left: 1130px;
    color: black;
  }
}

// Colors for the icons
.lin-blue {
  color: #0077b5;
}

.ghub-black {
  color: #333;
}

.glab-orange {
  color: #fc6d26;
}