@import "../../sass/variables";

.home-section {
  min-height: 500px;
}

.spacing {
  margin: 300px auto auto auto;
}

.push-from-left {
  margin-left: 200px;
}

.boy-img {
  max-width: 65%;
  height: auto;
}

.svg-background {
  position: absolute;
  z-index: -10;
  width: 50%;
  height: 100%;
  top: 100px;
}

.customized-btn {
  width: 60%;
  border-radius: 8px;
  border: none;
  background-color: $primary-orange;
  color: $primary-dark;
}

.customized-btn:hover {
  background-color: $primary-dark-orange;
  transition: 0.4s ease-in-out;
}